<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-toggle (ionChange)="habilitar()">Habilitar Edição</ion-toggle><br /><br />
    </ion-item>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone" placeholder="Insira o telefone" type="number" [(ngModel)]="telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" placeholder="Insira o email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Sexo" placeholder="Selecione o sexo" [(ngModel)]="sexo">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Não Declarado">Não Declarado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="editar()" disabled="{{edicao}}">Salvar</ion-button>
    <ion-button expand="block" (click)="excluir()" disabled="{{edicao}}" color="danger">Excluir</ion-button>
  </ion-list>
</ion-content>
